configuration {
  show-icons:         true;
  icon-theme:         "Paper";
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "apps";
  me-select-entry:    "";
  me-accept-entry:	  "MousePrimary";
  kb-cancel:          "Escape,MouseSecondary";
  columns: 2;
}

