[submodule "pomfclip"]
	path = pomfclip
	url = https://github.com/ScoreUnder/pomfclip
[submodule "atools"]
	path = atools
	url = https://gitlab.alpinelinux.org/Leo/atools
[submodule "aports-helpers"]
	path = aports-helpers
	url = git@gitlab.com:maxice8/aports-helpers.git
[submodule "pomfload"]
	path = pomfload
	url = https://github.com/ewhal/pomfload
