* {
	border: none;
	border-radius: 0;
	font-family: "Go Mono", "Font Awesome 5 Free";
	font-weight: 100;
	font-size: 13px;
	min-height: 0px;
}

window#waybar {
	background: rgba(242, 238, 222, 1);
}

#workspaces button {
	padding: 0px 4px;
	background: transparent;
}

#workspaces button:hover {
	padding: 0px 4px;
	box-shadow: inherit;
	text-shadow: inherit;
	background: rgba(85, 85, 85, 0.1);
}

#workspaces button.focused {
	background: rgba(136, 204, 136, 1);
}

#clock.date,
#clock.time,
#clock.de {
	padding: 0 4px;
	margin: 0 0px;
}

#clock.date {
	padding-right: 30px;
}

#battery,
#pulseaudio,
#network,
#memory,
#mode {
	padding: 0 11px;
	margin: 0 0px;
}

@keyframes blink {
	to {
		background-color: #26A64B;
		color: #fb4934;
	}
}

#battery.critical:not(.charging) {
	color: #e06c75;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.critical {
	color: #e06c75;
}

#battery.charging {
	color: #5288e2;
}
