* {
    border: none;
    border-radius: 0;
	font-family: "BlexMono Nerd Font";
	font-weight: 500;
    font-size: 13px;
    min-height: 0px;
}

window#waybar {
	background: #1d2021;
}

#workspaces button {
    padding: 0px 4px;
	background: transparent;
}

#workspaces button:hover {
	padding: 0px 4px;
	box-shadow: inherit;
	text-shadow: inherit;
	background: rgba(255, 255, 255, 0.1);
}

#workspaces button.focused {
	background: #181818;
}

#clock.br,
#clock.de,
#battery,
#pulseaudio,
#temperature,
#custom-powermenu,
#mode {
    padding: 0 11px;
    margin: 0 0px;
}

@keyframes blink {
    to {
        background-color: #26A64B;
        color: #fb4934;
    }
}

#battery.critical:not(.charging) {
	color: #e06c75;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.critical {
    color: #e06c75;
}

#battery.charging {
    color: #5288e2;
}

#temperature.critical {
	color: rgba(240, 52, 52, 1);
}
